footer{
	.footer-content-holder{
		display: flex;
		margin-top:5%;
		justify-content: space-between;
	}
	.footer-text-content{
		flex:.4;
		p{
			margin-top:10%;
		}
		.footer-ul{
			margin-top:10%;
			li{
				margin-top:10%;
				font-size:1.4em;
			}
			a{
				color: #ff9800;
			    text-decoration: underline;
			    font-weight: bold;
			}
		}
	}
	form{
		flex:.4;
		display: flex;
		flex-direction: column;
		h1{
			font-size:2.4em
		}
		input, textarea{
			outline:none;
			border:1px solid $accent;
			padding:10px;
			font-size:1.2em;
			margin-top:5%;
		}
		textarea{
			height:200px;
		}
		button{
			margin-top:5%;
			outline: none;
			cursor: pointer;
            background: linear-gradient(180deg, #FDD400 0%, #FEBA21 100%);
            border:none;
            padding:5px;
            color:#FFF;
            font-size:1.5em;
            line-height: 65px;
            svg{
            	transform: translate(17px,15px);
            }
		}
	}
	.copyrights{
		background:url('../img/home/footer-vector.png');
		background-size:100% 100%;
		height:250px;
		position:relative;
		text-align:center;
		margin-top:5%;
		position: relative;
		p{
			font-size:1.4em;
			color:#FFF;
			font-weight: bold;
			position: absolute;
			left: 50%;
			bottom:0;
			transform:translate(-50%, 1%);
		}
	}
}