header.prizes-header{
	nav div{
		a{color:black;}
	}

	p{
		width:300px;
	}

	.header-text-content{
		.cover{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		    z-index: 9;
			img{
				width: 100%;
			    transform: translate(0, -28%);
			}
		}
		height:60vh;
	    background-size: cover;
	    background-position: 84% 65%;
	    background-attachment: fixed;
	    position:relative;
	    *{color:white; z-index: 9}
	    h1{
	    	    	color:#000;	
	    	padding-top:4%;
	    	font-size:2.3em
	    }
	    p{
	    		    	color:#000;
	    	font-weight: bold;

	    }
	    a{
	    	color: #75d7ff;
		    font-weight: bold;
	    }
	    &:after{
	    	content:'';
	    	display: block;
	    	position: absolute;
	    	background:rgba(#000, 30%);
	    	width:100%;
	    	height:100%;
	    	top:0;
	    	bottom:0;
	    }
	}
}


