---
layout: default
---

<header class="landing">
	<div class="right-box-position">
	</div>
	<div class="container">
		{% include navbar.html %}
		<div class="header-text-content">
			<h1>
				<span>
					<span class="sash-text editable">Win The Fun</span>
					<span class="sash"></span>
				</span> 
				<br /> 
				
				<span>
					<span class="sash-text editable">Things In Life!</span>
					<span class="sash"></span>
				</span>
			</h1>
			<div class="index-show">
							<p class="index-p editable">
								Win shopping sprees, activities, concert tickets and fun days out in our free lifestyle competitions channel!
							</p>
			<a href="/join"><button>Sign Up & Start Winning</button></a>

			</div>
		</div>
	</div>	

	<div class="header-footer">
		<ul class="ul-header-footer">
			<li><a href="#" class="editable">
				<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M15 5.5V11.5H21V21.5H3V7.5H9V5.5L12 2.5L15 5.5ZM5 19.5H7V17.5H5V19.5ZM7 15.5H5V13.5H7V15.5ZM5 11.5H7V9.5H5V11.5ZM11 19.5V17.5H13V19.5H11ZM11 13.5V15.5H13V13.5H11ZM11 11.5V9.5H13V11.5H11ZM11 5.5V7.5H13V5.5H11ZM19 19.5H17V17.5H19V19.5ZM17 15.5H19V13.5H17V15.5Z" fill="black" fill-opacity="0.54" />
				</svg>

				Lifestyle

			</a></li>
			<li><a href="#" class="editable ">
			<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M18.92 5.01001C18.72 4.42001 18.16 4 17.5 4H6.5C5.84003 4 5.28998 4.42001 5.08002 5.01001L3 11V19C3 19.55 3.45001 20 4 20H5C5.54999 20 6 19.55 6 19V18H18V19C18 19.55 18.45 20 19 20H20C20.55 20 21 19.55 21 19V11L18.92 5.01001ZM6.85004 6H17.14L18.22 9.10999H5.77002L6.85004 6ZM5 16H19V11H5V16ZM7.5 12C6.67157 12 6 12.6716 6 13.5C6 14.3284 6.67157 15 7.5 15C8.32843 15 9 14.3284 9 13.5C9 12.6716 8.32843 12 7.5 12ZM15 13.5C15 12.6716 15.6716 12 16.5 12C17.3284 12 18 12.6716 18 13.5C18 14.3284 17.3284 15 16.5 15C15.6716 15 15 14.3284 15 13.5Z" fill="black" fill-opacity="0.54" />
			</svg>

			Motoring
		</a></li>
			<li><a href="#" class="editable ">
			<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47998 2 2 6.48 2 12C2 17.52 6.47998 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59003 20 4 16.41 4 12C4 7.59 7.59003 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM9.96997 9.47C9.96997 10.2 10.54 10.69 12.31 11.14C14.07 11.6 15.96 12.36 15.97 14.56C15.96 16.17 14.7599 17 13.24 17.33V19H10.9V17.3C9.39996 16.99 8.13995 16.03 8.03998 14.33H9.75995C9.84998 15.25 10.48 15.97 12.08 15.97C13.79 15.97 14.18 15.11 14.18 14.58C14.18 13.86 13.79 13.17 11.84 12.71C9.66998 12.19 8.17999 11.29 8.17999 9.5C8.17999 7.99001 9.38995 7.00999 10.9 6.69V5H13.23V6.71001C14.85 7.11 15.67 8.34 15.72 9.67999H14.0099C13.97 8.7 13.45 8.03999 12.07 8.03999C10.7599 8.03999 9.96997 8.63 9.96997 9.47Z" fill="black" fill-opacity="0.54" />
</svg>

			Money
		</a></li>
			<li><a href="#" class="editable ">
<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M20.25 8.295C21.0499 8.075 21.88 8.555 22.09 9.355C22.2999 10.155 21.83 10.975 21.02 11.205L4.44995 15.635L1.85999 11.145L3.30994 10.755L5.28003 12.295L10.25 10.965L6.10999 3.795L8.04004 3.285L14.9399 9.715L20.25 8.295ZM21.52 18.715H2.52002V20.715H21.52V18.715Z" fill="black" fill-opacity="0.54" />
</svg>

			Travel</a></li>
		</ul>
	</div>	
</header>

<section class="prizes-part">
	<div class="container">
		<h1 data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="editable">
			A selection of our great<br />free prize draws
		</h1>
		<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="prize-row">
			<a href="#" class="prize">
				<img class="vec" src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div class="img">
					<img class="editable" src="assets/img/home/prize.jpg" alt="" />
				</div>
				<div class="prize-text-content">
					<h2 class="editable">
						Win Iphone 11 latest apple&rsquo;s release
					</h2>
					<p class="editable">
						Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.
					</p>
				</div>
			</a>

			<a href="#" class="prize">
				<img class="vec" src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div class="img">
					<img class="editable" alt="" src="/assets/img/home/prize-1.jpg" width="667" height="500" />
				</div>
				<div class="prize-text-content">
					<h2 class="editable">
						Win a &pound;2,000 2020 Mega flying Drone cost-free
					</h2>
					<p class="editable">
						Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.
					</p>
				</div>
			</a>

			<a href="#" class="prize">
				<img class="vec" src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div class="img">
					<img class="editable" src="assets/img/home/prize-2.png" alt="" />
				</div>
				<div class="prize-text-content">
					<h2 class="editable">
						Win a &pound;4000 Virtual kitchen makeover with modern design
					</h2>
					<p class="editable">
						Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.
					</p>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="latest-winners">
	<div style="text-align: center;" class="container">
		<h1 class="editable" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back">
			latest winners
		</h1>
		<p class="editable" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400" data-sal-easing="ease-out-back">
			Here are the newest members of the MyOffers prize winners family.
		</p>
		<div class="winners-holder">
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="600" data-sal-easing="ease-out-back" class="winner-box">
				<div class="picture">
					<img class="editable" src="assets/img/winners/avatar-1.png" alt="avatar-1.png" />
				</div>
				<div class="text">
					<h1 class="editable">
						Heath Atwood
					</h1>
					<div class="titles">
						<span class="editable">Founder</span>
						<span class="editable">Author</span>
						<span class="editable">Manager</span>
					</div>
					<p class="editable">
						So pleased to win Gavin &amp; Stacey - big fan. Really looking forward to their return at Christmas. Thank you MyOffers
					</p>
					<a href="/join"><button class="b-btn">Enter Now & Win <svg style="transform: translateY(6px);" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white" />
</svg>
</button></a>					
				</div>
			</div>
			<div class="void"></div>
		</div>
		<div class="winners-holder">
			<div class="void"></div>
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="winner-box">
				<div class="picture">
					<img src="assets/img/winners/avatar-2.png" alt="avatar-2.png" />
				</div>
				<div class="text">
					<h1 class="editable">
						Sally Goodman
					</h1>
					<div class="titles">
						<span class="editable">Editor</span>
						<span class="editable">Singer</span>
						<span class="editable">Dancer</span>
					</div>
					<p class="editable">
						WeSendOffers helped me through thick and thin, doctor Shirla has been of great importance in my life and I&rsquo;am forever greatful
					</p>
					<a href="/join"><button class="b-btn">Enter Now & Win <svg style="transform: translateY(6px);" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white" />
</svg>
</button></a>					
				</div>
			</div>
		</div>
		<div class="winners-holder">
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="winner-box">
				<div class="picture">
					<img src="assets/img/winners/avatar-3.png" alt="avatar-3.png" />
				</div>
				<div class="text">
					<h1 class="editable">
						Salimai Coban
					</h1>
					<div class="titles">
						<span class="editable">Founder</span>
						<span class="editable">Author</span>
						<span class="editable">Manager</span>
					</div>
					<p class="editable">
						So pleased to win Gavin &amp; Stacey - big fan. Really looking forward to their return at Christmas. Thank you MyOffers
					</p>
					<a href="/join"><button class="b-btn">Enter Now & Win <svg style="transform: translateY(6px);" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white" />
</svg>
</button></a>					

				</div>
			</div>
			<div class="void"></div>
		</div>
		<div class="winners-holder">
			<div class="void"></div>
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="300" data-sal-easing="ease-out-back" class="winner-box">
				<div class="picture">
					<img src="assets/img/winners/avatar-4.png" alt="avatar-4.png" />
				</div>
				<div class="text">
					<h1 class="editable">
						Juliy Draperlor
					</h1>
					<div class="titles">
						<span class="editable">hairdresser</span>
						<span class="editable">vlogger</span>
						<span class="editable">youtuber</span>
					</div>
					<p class="editable">
						So pleased to win Gavin &amp; Stacey - big fan. Really looking forward to their return at Christmas. Thank you MyOffers
					</p>
					<a href="/join"><button class="b-btn">Enter Now & Win <svg style="transform: translateY(6px);" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white" />
</svg>
</button></a>					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="special-offers">
	<div class="container">
		<div class="so-holder">
			<div class="so-img-content">
				<img src="assets/img/home/so-1.png" alt="special-offer-1.png" />
				<img src="assets/img/home/so-2.png" alt="special-offer-2.png" />
				<img src="assets/img/home/so-3.png" alt="special-offer-3.png" />
			</div>
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="so-text-content">
				<h1 class="editable">
					Special Offers<br />Awaits You
				</h1>
				<p class="editable">
					Get the latest cashback, discount, vouchers codes and much more
				</p>
					<a href="/join"><button class="b-btn">Enter Now & Win <svg style="transform: translateY(6px);" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white" />
</svg>
</button></a>					
			</div>			
		</div>
	</div>
</section>

<section class="join">
	<div class="container">
		<div class="join-text-content">
			<h1 data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="editable">
				The World&rsquo;s No.1 competition,<br />prize &amp; free* stuff site
			</h1>
			<p data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400" data-sal-easing="ease-out-back" class="editable">
				Join Now to receive offers and promotions and for your chance to win 100s of great competitions. It's quick, simple and FREE!
			</p>
			<a href="/join"><button data-sal="slide-up" data-sal-duration="1000" data-sal-delay="500" data-sal-easing="ease-out-back" class="b-btn">Join Now</button></a>
		</div>
	</div>
</section>

<div class="stats">
	<div class="container">
		<div class="stats-holder">
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="stat">
				<svg width="162" height="165" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M134.518 82.5v68.75H27.116V82.5M147.943 48.125H13.69V82.5h134.253V48.125zM80.817 151.25V48.125M80.817 48.125H50.61c-4.45 0-8.72-1.81-11.867-5.034-3.147-3.223-4.915-7.595-4.915-12.154 0-4.558 1.768-8.93 4.915-12.153 3.148-3.223 7.416-5.034 11.867-5.034 23.494 0 30.207 34.375 30.207 34.375z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M80.817 48.125h30.207c4.45 0 8.719-1.81 11.866-5.034 3.147-3.223 4.915-7.595 4.915-12.154 0-4.558-1.768-8.93-4.915-12.153-3.147-3.223-7.416-5.034-11.866-5.034-23.495 0-30.207 34.375-30.207 34.375z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
				<h1 class="editable">
					150<br />Total Prices
				</h1>
			</div>
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="300" data-sal-easing="ease-out-back" class="stat">
				<svg width="141" height="154" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M99.893 134.75v-12.833c0-6.808-2.469-13.336-6.863-18.149-4.395-4.814-10.355-7.518-16.57-7.518H29.594c-6.215 0-12.175 2.704-16.57 7.518-4.395 4.813-6.863 11.341-6.863 18.149v12.833M53.027 70.583c12.942 0 23.433-11.491 23.433-25.666 0-14.176-10.491-25.667-23.433-25.667S29.594 30.741 29.594 44.917c0 14.175 10.491 25.666 23.433 25.666zM135.043 134.749v-12.833c-.004-5.687-1.732-11.211-4.913-15.706-3.181-4.495-7.635-7.705-12.662-9.126M94.035 20.084c5.04 1.413 9.508 4.624 12.699 9.126 3.19 4.502 4.922 10.039 4.922 15.738 0 5.7-1.732 11.236-4.922 15.738-3.191 4.502-7.658 7.713-12.699 9.127" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
				<h1 class="editable">
					8,478<br />prize winners
				</h1>	
			</div>
			<div data-sal="slide-up" data-sal-duration="1000" data-sal-delay="500" data-sal-easing="ease-out-back" class="stat">
				<svg width="147" height="154" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73.749 6.417v141.166M104.261 32.083H58.493c-5.665 0-11.097 2.366-15.103 6.578-4.005 4.212-6.255 9.924-6.255 15.88 0 5.957 2.25 11.67 6.255 15.881C47.396 74.634 52.828 77 58.493 77h30.512c5.665 0 11.097 2.366 15.103 6.578 4.005 4.212 6.255 9.924 6.255 15.88 0 5.957-2.25 11.669-6.255 15.881-4.006 4.211-9.439 6.578-15.103 6.578h-51.87" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
				<h1 class="editable">
					1,943,144<br />Total given away
				</h1>				
			</div>
		</div>
	</div>
</div>
<section class="join join-two">
	<div class="container">
		<div class="join-text-content">
			<h1 data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" class="editable">
				Digital Assets, Home accessories, Motoring<br />That And Much More
			</h1>
			<p data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400" data-sal-easing="ease-out-back" class="editable">
				Once you&rsquo;ve found a must-have prize, it only takes a couple of minutes to enter. Then you&rsquo;ll be in the hat for the draw, and we&rsquo;ll do the rest.
			</p>
		</div>
	</div>
</section>

<section data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200" data-sal-easing="ease-out-back" id="slider-main">
	 <div class='parent'>
  <div class='slider'>
   <button type="button" id='right' class='right sbtn' name="button">
       <svg version="1.1" id="Capa_1" width='40px' height='40px ' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
       <g>
        <path style='fill: #000;' stroke="black" stroke-width="25" d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
          c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
          " />
       </g>

       </svg>

       </button>
   <button type="button" id='left' class='left sbtn' name="button">
       <svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
       <g>
        <path style='fill: #000;' stroke="black" stroke-width="25" d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
          c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
       </g>
       </svg>
       </button>
   <svg id='svg2' class='up2' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle id='circle1' class='circle1 steap' cx="34px" cy="49%" r="20" />
      <circle id='circle2' class='circle2 steap' cx="34px" cy="49%" r="100" />
      <circle id='circle3' class='circle3 steap' cx="34px" cy="49%" r="180" />
      <circle id='circle4' class='circle4 steap' cx="34px" cy="49%" r="260" />
      <circle id='circle5' class='circle5 steap' cx="34px" cy="49%" r="340" />
      <circle id='circle6' class='circle6 steap' cx="34px" cy="49%" r="420" />
      <circle id='circle7' class='circle7 steap' cx="34px" cy="49%" r="500" />
      <circle id='circle8' class='circle8 steap' cx="34px" cy="49%" r="580" />
      <circle id='circle9' class='circle9 steap' cx="34px" cy="49%" r="660" />
    </svg>
   <svg id='svg1' class='up2' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle id='circle10' class='circle10 steap' cx="648px" cy="49%" r="20" />
      <circle id='circle11' class='circle11 steap' cx="648px" cy="49%" r="100" />
      <circle id='circle12' class='circle12 steap' cx="648px" cy="49%" r="180" />
      <circle id='circle13' class='circle13 steap' cx="648px" cy="49%" r="260" />
      <circle id='circle14' class='circle14 steap' cx="648px" cy="49%" r="340" />
      <circle id='circle15' class='circle15 steap' cx="648px" cy="49%" r="420" />
      <circle id='circle16' class='circle16 steap' cx="648px" cy="49%" r="500" />
      <circle id='circle17' class='circle17 steap' cx="648px" cy="49%" r="580" />
      <circle id='circle18' class='circle18 steap' cx="648px" cy="49%" r="660" />
    </svg>
   <div id='slide1' class='overlay slide1 up1'>
   	<h6 class="editable">
   		Cars &amp; Motoring
   	</h6>
   	<span class="editable">Letest Car Models Awaits you, Claim Your Prize </span>
   	<br />
   </div>
   <div id='slide2' class='overlay slide2'>
   	   	<h6 class="editable">
   	   		Win Iphone 11 Pro Max
   	   	</h6>
	   	<span class="editable">Get your Iphone 11 Now By Joining WeSendOffers</span>

   </div>
   <div id='slide3' class='overlay slide3'>
   	   	<h6 class="editable">
   	   		Spring in Barcelona!
   	   	</h6>
	   	<span class="editable">Win a mini spring break to Barcelona, Enter now</span>
   </div>
   <div id='slide4' class='slide4'>
   	   	<h6 class="editable">
   	   		Win &pound;5,000 cash
   	   	</h6>
	   	<span class="editable">£5,000 can go a long way, if you were out lucky winner</span>   	
   </div>
  </div>
 </div>
</section>


<section class="clients-sect">
	<h1 style="text-align: center;" class="editable">
		Some Of Our Partners
	</h1>
	<div class="container">
		<div class="wrap">
	  <ul style="margin-top: -4%" class="clients">
	    <li><a href=""><img class="editable " src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Mercedes-Benz_Logo_2010.svg" alt="UAE" /></a></li>
	    <li><a href=""><img class="editable " style="height: 110px;" src="https://cdn.worldvectorlogo.com/logos/edf-energy-1.svg" alt="Airbnb" /></a></li>
	    <li><a href=""><img class="editable " src="https://webslides.tv/static/images/logos/apple.svg" alt="Apple" /></a></li>
	    <li><a href=""><img class="editable " src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Nissan_logo.svg" alt="Microsoft" /></a></li>
	  </ul>
	  <ul style="margin-top: -7%" class="clients">
	    <li><a href=""><img class="editable " src="https://upload.wikimedia.org/wikipedia/commons/7/74/SKY_Basic_Logo.svg" alt="UAE" /></a></li>
	    <li><a href=""><img class="editable " src="https://upload.wikimedia.org/wikipedia/commons/4/44/Hyundai_Motor_Company_logo.svg" alt="Airbnb" /></a></li>
	    <li><a href=""><img class="editable " style="height: 250px;" src="https://svgur.com/i/HED.svg" alt="Apple" /></a></li>
	  </ul>
	</div>
		
	</div>
</section>


{% include footer.html %}