---
layout: default
---	

<header class="offers">
	<div class="container">
		{% include navbar.html %}
	</div>	
	<div class="container">
		<div class="content-holder">
			<div
			 class="header-text-content">
				<h1
  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
			 class="editable"	>We carefully have selected <br> the latest money-saving <br> opportunities from a host <br> of leading brands.</h1>
				<a href="#offers">
					<button 
				  data-sal="slide-up"
						  data-sal-duration="1000"
						  data-sal-delay="800"
						  data-sal-easing="ease-out-back"
					class="b-btn save">Save Money Now!</button>
					
				</a>
			</div>
			<div
		  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="400"
		  data-sal-easing="ease-out-back"

			 class="header-img-content">
				<img  class="editable" src="assets/img/offers/hero.png" alt="hero.png">
			</div>
		</div>
	</div>
</header>

<section id="offers" class="offers-sect">
	<h1
  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="300"
		  data-sal-easing="ease-out-back"
	class="editable">We have great offers for all <br> sorts of products</h1>
	<div class="container">
		<div 
  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
		class="main-offer">
			<div class="offer-container">
				<a class="editable" target="_blank" href=" https://www.sky.com/shop/offers/">GET OFFER</a>
				<img  class="editable" src="assets/img/offers/offer-1.png" alt="offer-1.png">
				<div class="text-holder">
					<h1 class="editable">Daily Wishful Lottery</h1>
					<h2 class="editable">Save up to 70% on the latest from Reiss</h2>
					<h5 class="editable">Provided By lovethesales.com</h5>
				</div>
			</div>

			<div class="offer-container">
				<a class="editable" target="_blank" href="https://www.virginmedia.com/shop/bundles/bigger-bundle">GET OFFER</a>
				<img  class="editable" src="assets/img/offers/offer-2.png" alt="offer-1.png">
				<div class="text-holder">
					<h1 class="editable">Biggest Sale of 2019</h1>
					<h2 class="editable">Save up to 77% on the latest deal</h2>
					<h5 class="editable">Provided By lovethesales.com</h5>
				</div>
			</div>
		
		</div>
		<!-- second row -->
		<div 
  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
		class="main-offer">
			<div class="offer-container">
				<a class="editable" target="_blank" href="https://www.mercedes-benz.co.uk/passengercars.html?csref=ppc1910080005_mc_sem_PC_BR_PROS_BrandMercedesPureBrand_Core_Exact_ci-Google_si-g_pi-kwd-10498341_cri-389078595107_ai-none&kpid=go_cmp-6772954483_adg-82185447249_ad-389078595107_kwd-10498341_dev-c_ext-&gclid=EAIaIQobChMI3qGTlsjn5gIVh63tCh0zzAP5EAAYASAAEgIHpPD_BwE">GET OFFER</a>
				<img  class="editable" src="assets/img/offers/offer-3.png" alt="offer-1.png">
				<div class="text-holder">
					<h1 class="editable">big savings on Ted Baker – up to 65% off</h1>
					<h2 class="editable">Converse – every day</h2>
					<h5 class="editable">Provided By lovethesales.com</h5>
				</div>
			</div>
			<div class="offer-container">
				<a class="editable" target="_blank" href="https://bulb.co.uk">GET OFFER</a>
				<img  class="editable" src="assets/img/offers/offer-4.png" alt="offer-1.png">
				<div class="text-holder">
					<h1 class="editable">Exclusive Daily Deals</h1>
					<h2 class="editable">Save up to 65% on Mint Velvet daily deals</h2>
					<h5 class="editable">Provided By lovethesales.com</h5>
				</div>
			</div>		
		</div>
	</div>
</section>

{% include footer.html %}