---
layout: default
---

<header class="prizes-header">
	<div class="container">
		{% include navbar.html %}
	</div>	
	<div class="header-text-content">
		<div class="container">
		<h1
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
		>WeSendOffers  Daily Prizes</h1>
		<p
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="400"
		  data-sal-easing="ease-out-back"
		>To view winners,  use the <a href="/winners"><span class="underline"> winner's </span></a> page.
		 We still have our feature prizes available,</p>
		<button
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="600"
		  data-sal-easing="ease-out-back"
		 class="b-btn">Browse Prizes</button>

		</div>
	</div>
</header>

<section class="prizes-part">
	<div class="container">
		<h1
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
		>Today's Prizes</h1>
		<div 
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="200"
		  data-sal-easing="ease-out-back"
		class="prize-row">
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win Iphone 11  latest apple’s release</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>

			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-1.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £2,000 2020 Mega flying Drone cost-free</h2>
					<p> Is your kitchen dated and you feel like the space is dragging you down every time you go to cook in it? MyOffers has a brilliant chance for one winner to spend £2,000 on a kitchen that does everything needed</p>
				</div>
			</a>
		
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-2.png')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £4000 Virtual kitchen makeover with modern design</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>
		</div>		
		<div 
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="400"
		  data-sal-easing="ease-out-back"
		class="prize-row">
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win Iphone 11  latest apple’s release</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>

			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-1.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £2,000 2020 Mega flying Drone cost-free</h2>
					<p> Is your kitchen dated and you feel like the space is dragging you down every time you go to cook in it? MyOffers has a brilliant chance for one winner to spend £2,000 on a kitchen that does everything needed</p>
				</div>
			</a>
		
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-2.png')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £4000 Virtual kitchen makeover with modern design</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>
		</div>		
		<div
data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="400"
		  data-sal-easing="ease-out-back"
		 class="prize-row">
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win Iphone 11  latest apple’s release</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>

			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-1.jpg')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £2,000 2020 Mega flying Drone cost-free</h2>
					<p> Is your kitchen dated and you feel like the space is dragging you down every time you go to cook in it? MyOffers has a brilliant chance for one winner to spend £2,000 on a kitchen that does everything needed</p>
				</div>
			</a>
		
			<a href="#" class="prize">
				<img src="assets/img/home/prize-vector.png" alt="prize-vector.png" />
				<div style="background:url('assets/img/home/prize-2.png')" class="img"></div>
				<div class="prize-text-content">
					<h2>Win a £4000 Virtual kitchen makeover with modern design</h2>
					<p>Whether you enjoy entering a few competitions as a coffee time diversion or are a dedicated competition fan, MyOffers is the place for you. We offer some of the best free competitions and prize draws on the Internet.</p>
				</div>
			</a>
		</div>
	</div>
</section>
{% include footer.html %}