<footer>
	<div class="container">
		<div
		  data-sal="slide-up"
		  data-sal-duration="1000"
		  data-sal-delay="300"
		  data-sal-easing="ease-out-back"

		 class="footer-content-holder">
			<div class="footer-text-content">
				<div class="logo"><img src="assets/img/wesendofferslogo.png" alt="wesendofferslogo.png"></div>
				<p class="editable">It's free to join WeSendOffers, and it's free to enter WeSendOffers ' own competitions and prize draws. WeSendOffers ' own competitions and prize draws. It's free to join WeSendOffers, and it's free to enter</p>
				<ul class="footer-ul">
					<li><a class="editable" href="/policy">Privacy Statement</a></li>
					<li><a class="editable" href="/about">About WeSendOffers</a></li>
					<li><a class="editable" href="/prizes">All Prizes</a></li>
				</ul>
			</div>
			<form action="#">
				<h1 class="editable">Why Don’t we Have a little chat?  Write us!</h1>
				<input type="text" placeholder="Name" />
				<input type="text" placeholder="Email" />
				<textarea placeholder="How Can We Help You"></textarea>
				<button>
					Send It Our Way
					<svg width="47" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M47 0L30.55 45.058l-9.4-20.276L0 15.77 47 0z" fill="#fff"/></svg>
				</button>
			</form>			
		</div>
	</div>
	<div class="copyrights">
		<p class="uppercase editable">© all rights  reserved to WeSendOffers Inc 2020.</p>
	</div>
</footer>